In [23]:
import pandas as pd
import matplotlib as plt
import numpy as np
file = input("Enter the name of the file") ##C:\Users\LENOVO\Desktop\CS\Projects\Data Science\who_suicide_statistics.csv
who_suicide_stats = pd.read_csv(file, index_col = 'country')
country = who_suicide_stats.groupby('country')
country
sex = who_suicide_stats.groupby('sex')
age = who_suicide_stats.groupby('age')
stats_available = who_suicide_stats['suicides_no'] != np.nan
print("Statistics are not available for these countries : ")
who_suicide_stats[stats_available]

Statistics are not available for these countries :

          year     sex          age  suicides_no  population
country
Albania   1985  female  15-24 years          NaN    277900.0
Albania   1985  female  25-34 years          NaN    246800.0
Albania   1985  female  35-54 years          NaN    267500.0
Albania   1985  female   5-14 years          NaN    298300.0
Albania   1985  female  55-74 years          NaN    138700.0
...        ...     ...          ...          ...         ...
Zimbabwe  1990    male  25-34 years        150.0         NaN
Zimbabwe  1990    male  35-54 years        132.0         NaN
Zimbabwe  1990    male   5-14 years          6.0         NaN
Zimbabwe  1990    male  55-74 years         74.0         NaN
Zimbabwe  1990    male    75+ years         13.0         NaN

[43776 rows x 5 columns]

In [ ]:
print("Suicide rates by sex")
sex
print("Suicide rates by age")
age

In [ ]:
who_suicide_stats['Albania', 'suicides_no']

In [25]:
who_suicide_stats.groupby('country')
who_suicide_stats

          year     sex          age  suicides_no  population
country
Albania   1985  female  15-24 years          NaN    277900.0
Albania   1985  female  25-34 years          NaN    246800.0
Albania   1985  female  35-54 years          NaN    267500.0
Albania   1985  female   5-14 years          NaN    298300.0
Albania   1985  female  55-74 years          NaN    138700.0
...        ...     ...          ...          ...         ...
Zimbabwe  1990    male  25-34 years        150.0         NaN
Zimbabwe  1990    male  35-54 years        132.0         NaN
Zimbabwe  1990    male   5-14 years          6.0         NaN
Zimbabwe  1990    male  55-74 years         74.0         NaN
Zimbabwe  1990    male    75+ years         13.0         NaN

[43776 rows x 5 columns]